.queue-container {
    width: 80%;
    margin-left: auto;
    height: 35%;
    border-radius: 30px;
    border-top-right-radius: 0%;
    background-color: #101620;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.queue {
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
}

.upNext {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin: 10px 0px;
}

.queue-list {
    height: 80%;
    width: 100%;
    overflow-y: auto;
}

.queue-item {
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.queue-item:hover {
    transform: scale(0.9);
}

.track-name {
    width: 75%;
    text-overflow: ellipsis;
}