a {
    text-decoration: none !important;

}

.btn-body{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    color: #ffffffd3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px auto;
    transition: all 0.2s ease-in;
    background-color: #ffffffd3, 0.0;
}

.btn-body:hover{
    color: #ffffff;
}

.btn-body.active{
    background-color:#ffffff8e ;
    color: rgb(255, 255, 255);
    transform: scale(1.10);
}

.btn-title{
    margin: 4px auto;
    font-weight: 500;
    font-size: 10px;
}