.albumInfo-card {
    margin-top: 20px;
    width: 70%;
}

.albumInfo-card p{
    margin: 5px auto !important;
}
 .album-release p{
    margin-top: 2px auto !important;
    margin-bottom: 2px;
 }

.albumName-container {
    overflow: hidden;
    font-size: 22px;
    font-weight: 700;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center; 
    display: flex;
    flex-direction: column;
  }

.marquee {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 12s linear infinite;
    padding-left: 100%;
    color: white;
}

@keyframes marquee {
    0% {
        transform : translateX(0);
    }
    100% {
        transform : translateX(-100%);
    }
}

.album-info {
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.album-release {
    font-size: 10px;
    font-weight: 400;
    color: rgb(204, 204, 204);
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center; 
}

.artist-name {
    font-size: 15px;
    color: rgb(225, 225, 225);
}
